<div>

    {{#if name}}
        <h1 style="padding-bottom: 25px">Welcome {{name}}, to Antiques-R-Us</h1>
    {{else}}
        <h1 style="padding-bottom: 25px">Welcome to Antiques-R-Us</h1>
    {{/if}}

    <div class="ui segment">
        <form class="ui form" action="/">
            <h4>Search the Store!</h4>
            <input type="text" name="search" placeholder="Search"/>
        </form>
    </div>

    {{#if vendor}}
    	<div class="ui segment">
            <h2>Add an item</h2>
    	    <form class="ui form" action="/createItem" method="post">
                <div>
                    <input type="text" name="name" placeholder="Name"/>
                    <input type="text" name="description" placeholder="Description"/>
                </div>

                <input class="ui submit button" type="submit"/>
            </form>

	    <h2>Add an item to an existing space</h3>
            <form class="ui form" action="/createSpaceItem" method="POST">
                <div>
                    <input type="text" name="item_id" placeholder="Item ID"/>
                    <input type="text" name="space_id" placeholder="Space ID"/>
                    <input type="text" name="cost" placeholder="Cost"/>
                </div>

                <input class="ui submit button" type="submit"/>
            </form>
	</div>
    {{/if}}

    <div class="ui segment">
        {{#if vendor}}
	    <h2>All Items</h2>
	    <table class="itemTable">
	        <tr>
		    <th>Name</th>
		    <th>Description</th>
		    <th>ID</th>
		</tr>

		{{#each item}}
		    <tr>
		        <td>{{this.name}}</td>
		        <td>{{this.description}}</td>
		        <td>{{this.id}}</td>
		    </tr>
		{{/each}}
	    </table>

	    <h2>Items for Sale</h2>
	    <table class="itemTable" id="table">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Cost</th>
		            <th>Space ID</th>
                </tr>

                {{#each spaceItem}}
                    <tr>
                        <form class="ui form" action="/spaceItem" method="post" >
                            <input type="hidden" name="itemID" value="{{this.id}}" />
                            <input type="hidden" name="spaceID" value="{{this.spaceID}}" />
                            <td>{{this.name}}</td>
                            <td>{{this.description}}</td>
                            <td>$<input type="text" name="cost" value="{{this.cost}}"></input></td>
                            <td>{{this.spaceID}}</td>
			                <td><input class="ui submit button" type="submit" name="method" value="Update" /></td>
                            <td><input class="ui submit button" type="submit" name="method" value="Delete" /></td>
                        </form>
                    </tr>
                {{/each}}

            </table>
	{{else}}
	    <h2>Items for Sale</h2>
	    <table id="table">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Cost</th>
		    <th>Space ID</th>
                </tr>

                {{#each spaceItem}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.description}}</td>
                        <td>${{this.cost}}</td>
                        <td>{{this.spaceID}}</td>
                    </tr>
                {{/each}}

            </table>
	{{/if}}
    </div>

</div>
