<div>

    {{#if name}}
        <h1 style="padding-bottom: 25px">Welcome {{name}}, to Antiques-R-Us</h1>
    {{else}}
        <h1 style="padding-bottom: 25px">Welcome to Antiques-R-Us</h1>
    {{/if}}

    <div class="ui segment">
        <form class="ui form" action="/">
            <h4>Search the Store!</h4>
            <input type="text" name="search" placeholder="Search"/>
        </form>
    </div>

    <h2>Our Current Stock</h2>
    <div class="ui segment">
        <table id="table">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Cost</th>
            </tr>

            {{#if vendor}}
                {{#each item}}
                    <tr>
                        <form>
                            <td><input type="text" name="name" value="{{this.name}}"></input></td>
                            <td><input type="text" name="description" value="{{this.description}}"></input></td>
                            <td><input type="text" name="cost" value="${{this.cost}}"></input></td>
                            <td><div class="ui submit button">Update</td>
                            <td><div class="ui submit button">Delete</td>
                        </form>
                    </tr>
                {{/each}}
            {{else}}
                {{#each item}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.description}}</td>
                        <td>${{this.cost}}</td>
                    </tr>
                {{/each}}
            {{/if}}

        </table>
    </div>

</div>
