<div>
    <h3>Here are your purchases</h3>
</div>

<div class="ui segment">
    <table id="table">
        <tr>
            <th>Item Name</th>
            <th>Transaction</th>
            <th>Vendor</th>
            <th>Quantity</th>
            <th>Unit Cost</th>
        </tr>

        {{#each purchases}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.tid}}</td>
            <td>{{this.vid}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.cost}}</td>
        </tr>
        {{/each}}

    </table>
</div>